*{
  box-sizing: border-box;
}
html{ min-width: 50vh;

}
body {
  background-color: #F5F5F5 ;
	font-family: times new roman, sans-serif;

  }
  
  
  section{ 
   margin:2px 2px 10px 2px;
   
   
  }
  #aboutme{
  	
  	height: 100vh;
    min-height: 800px;
}

  
  
  /*mise en page du header */
  header {
  	min-height:100vh;
	 background:linear-gradient(to left, beige 40%, transparent 60%), url(images/img/me3.jpg);
  	background-position : left ;
  	background-repeat: no-repeat;
  	background-size:cover;
	 background-attachment: fixed;
  	color:darkgray ;
  }



  
  /* la nav bare  */ 
  .navbar{
  
  background-color: rgba(117,79,91,0.5);
  color:white;
  width: 99.6%; 
  height: auto;
  position:fixed;
  z-index: 1000;
  
}
.navbar a{
  text-decoration: none;
  color:white;


}
.navbar li{
  
  border-bottom:1px solid white;
  padding: 10px 0;
  text-align: center;
  list-style-type: none;
  /*margin-top: 5px;*/
  color:white;
  
}
.navbar li>ul{
  display:none;
}
.navbar li:hover>ul{
  display:block;
}
.navbar li >ul li:hover{
  display:block;
  background-color: rgb(169,169,169,0.8);
}
.navbar>ul>li:hover{
  background-color:rgba(117,79,91,0.5);
  font-weight: bold;
  

}
.menu-mobile{/*la barre menu*/
  display: block;
  background-color:rgba(0,0,0,0.6);
  text-align: center;
  padding: 10px 0px;
  font-size: 2em;
  
 

}
#menu-mobile{/* la case à cheker */
  display: none;
}
.navbar ul{
  display: none;
}
.navbar input[type=checkbox]:checked ~ ul{
  display: block;

}

#menu li{ 
  
   margin-right: 5px;

}

  #presentation {
  	text-align: center;
  	width: 40%;
    height: 100%;
    position: relative;
    top: 250px;
    left: 50% ;
  	 
  	 
  }

  #presentation h2{
  	font : bold 1.5em vivaldi,sans-serif;
  	color:rgba(117,79,91,1);
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;

  }
  /* l'animation du h1 Menasria Mouna */
  #presentation h2::before{
    content:'';
    position: absolute;
    left:100%;
    width:120%;
    height: 100%; 
   background:linear-gradient(90deg, transparent 0%,beige 40% ,beige 40%);
    animation: animate 10s linear infinite;

  }
   @keyframes animate{
    0%{
      left: -20%;
    }
    50%{
      left:100%;

    }
    100%{
      left: -20%;

    }
    
  }
  /* Développeuse web*/ 
  #presentation h4{
  	font-size :  0.8em ;
    font-weight: bold;
  	color: rgba(117,79,91);
    letter-spacing: 2px;
    text-transform: uppercase;
    animation: animateh4 10s linear infinite;

    
  }
  @keyframes animateh4{
    0%{
      color: rgba(117,79,91)/*#EE82EE*/  ;
      box-shadow: none;

    }
  100%{
   color: #fff;/*rgba(117,79,91)*/;
     box-shadow: 0 0 10px rgba(117,79,91),
                0 0 20px  rgba(117,79,91),
                0 0 40px  rgba(117,79,91),
                0 0 80px  rgba(117,79,91),
                0 0 160px rgba(117,79,91),
   


    }
  }

  #presentation1 {
    
  	margin: 380px 0px 0px 0px; 
  	line-height: 1.25em;
    color: black;
    height: 60vh;

  }
  #presentation1 p{

    float: right;
    margin-right:10px;
    width: 70%;
     height :7em;

    font-size: 12px;

    text-indent:20px;
    text-align: justify;
    margin-bottom: 1%;

    
    
    

  }
  #presentation1 h3{
    text-align: center;
    margin-left: 50px;

   

  }

    h3{ 
   	color:#5D4954;
   	font-weight: bold;
   	font-size: 1em;
    line-height: 20px;
   	margin-bottom: 10px;

    }
   #buttoncv{
    background-color:  #BC8F8F  ;  
   	color:white;
   	text-align: center;
   	width: 30%;
   	padding: 10px;
   	margin:0 0 0 50%;
    font-size: 0.9em;
    border-radius: 30px 30px 30px 30px;
    appearance : button;
   }
   #presentation1 a {
    text-decoration: none;
    color: white;

    }
    #buttoncv:hover{
      background-color: #D8BFD8;
    }


   /* la partie compétence*/
   #competence{
    height: auto;
    margin-top: 5vh;

  }
  #competence article { 
  
  height: auto;
  padding: 20px 10px 10px 10px;
  margin-left:5px;

  
}
   #competence ul{
   	
   	margin:0px;
   	width: 100%;
    background-color: lightgrey;
    

   }
   #competence li{
   	margin: 0px 2px 0px 10px;
   	padding-bottom:  10px;
   }
   #competence h4{
   	text-align: left;
   	font-weight: bold;
   	font-size: 1.2em;
   	margin-bottom: 5px;

   }
  /* conteneur de la progress bar*/
   .container{
   	background-color: white;
   	width: 100%;
   	height: 25px;
   }
   
   .skills{ /*la barre de niveau */
    text-align: center;
    padding-top:  5px;
    padding-bottom: 5px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    background-color:#C71585;
    height: 25px;
   }
   
   
.timeline { /* l'article contenant la ul*/
 
  border:2px solid black;
  color:white;
  margin: 0px;
  width: 98%; 
  max-width: 800px;
  height: auto;
  position: relative;

  }

  .timeline ul{ 
    list-style: none;


}
.timeline ul li{
  background-color:gray;
  color: black;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 0px 0px 10px 20px;
  margin-left: 2px;


}
.timeline ul li:last-child {
  margin-bottom: 0;
}
 .date, .titre{
  font-size:1.2em;
  font-weight: bold; 
  line-height: 20px; 
  

}
 .entreprise {
  font-size:1em;
  font-weight: bold; 
  line-height: 20px;
  

}
/* portfolio */
#realisation {
    
   /* height: 100vh;*/
    text-align: center;
    margin-top: 1vh;
  }
  #portfolio{
   background-color: #FAF0E6;
    width: 100%;
   /* height: 90%;*/
  }
  #portfolio ul{
    width: 100%;
    height:auto;
    background-color: black;

  }
img.miniature{
  width: 80px;

}
 #realsize{ /* image grand format*/
  width: 400px;
  height: 40%;
  border: 10px solid rgba(117,79,91,0.5);
}
p#legend {
  font-size:1em;
   font-weight: bolder;
   font-style: italic;
   color: gray;
            }

  /* partie contact*/
  #contact {
    
    /*height: 100vh;*/


  }
  #formulaire  {
   background-color: rgba(117,79,91,0.5);
   margin: 0  auto;
   width: 70%;
   height: 90%;
   

   /*padding: 10px 10px 5px 20px;*/


  }

  #formulaire input[type=text]{
    margin-bottom: 10px;
    text-align: left;
    margin: 5px 3%;  
    height:35px;
    width: 60%;
  }

  #textarea{
    width: 70%;
    height:350px;
    margin: 0px 25%; 
  }
  #formulaire label {
    display: inline-block;
    width: 30%;
   /* height:25px;*/
    font-weight: bold;
    text-align: center;

    /*position: relative;
    top: 40px;
    left: 40px;*/
  }
  
  
  #formulaire p:nth-child(5n) label{  email 
    /*position:relative;*/
    
    

  }
  #formulaire p:last-child {
    margin-left: 60%;

  }
  #formulaire p:last-child input[type=reset], #formulaire p:last-child input[type=submit]{
    margin-right: 10px;
    margin-top: 10px;
    height: 30px;
  }
  footer {
    background-color: rgba(117,79,91,0.5);
    height: 10vh;


  }
  footer p{
    margin : 0 0 5px 5px;
    font-size: 1em;
    font-style: italic;

  }

@media screen and (min-width:1023px){ /*  1023px pour éviter débordement au milieu*/

  section{ 
   margin:2px 2px 10px 2px;
   
  }
  .timeline::before{ /* la ligne verticale */
    content: '';
    position: absolute;
    width: 2px;
    height: 93%; 
    background-color: #FAEBD7; /*antiquewhite*/
    margin-top: 20px;
    left:50%;
    transform: translateX(-50%);
  }

  .timeline { 
    
    height: 600px; /* violet moyen rouge */
    background-color: #C71585 ;
    margin: 4% auto;
    min-width: 80%;


  }
  .timeline ul li{
    background-color: #FAEBD7;
    width: 45%;
    margin-bottom:20px;                           
    padding: 10px 15px; 
    height: 120px; 
    line-height: 20px;
    position: relative;
    box-shadow: 5px -5px 10px  #FAF0E6  ;
    


  }
  .timeline ul li:nth-child(odd){
    float: left;
    clear: right; /* rien à coté à droite*/
    margin-top: 20px;
    margin-left: 5%;
    transform: translateX(-30px);
    border-radius: 30px 0px 30px 30px;
    
    
  }
    .timeline ul li:nth-child(even){
    float: right;
    clear: left;
    margin-right: 5%;
    transform: translateX(30px);
    border-radius: 0px 30px 30px 30px;
  }
  .timeline ul li::after{ /* le cercle*/
    content: '';
    width: 20px;
    height: 20px;
    background-color: #FAEBD7;
    border-radius: 50%;
    position: absolute;
    top:0;
    
    
  }
  .timeline ul li:nth-child(odd)::after{ /* placer le cercle  */
    transform: translate(50%,-50%);
    right:-30px;

    

  }
  .timeline ul li:nth-child(even)::after{

    left:-30px;
    transform: translate(-50%,-50%);

    
  }
  .timeline ul li:nth-child(odd)::before{ /* le losange  a gauche*/
    content: '';
    width: 15px;
    height: 15px;
    background-color: #FAEBD7;
    box-shadow: 5px -5px 10px  #FAF0E6 ;
    position: absolute;
    right: -8px;
    transform: rotate(45deg);
    z-index: -1;


  }
  .timeline ul li:nth-child(even)::before{ /* le losange  a droite*/
    content: '';
    content: '';
    width: 15px;
    height: 15px;
    background-color: #FAEBD7;
    box-shadow: -5px 5px 10px  #FAF0E6 ;
    position: absolute;
    left: -7px;
    transform: rotate(45deg);
    z-index: -1;

  }
  .timeline ul li:hover::after{
    background-color: gray;
  }
  .date , .poste{
  font-size:1em;
  font-weight: bold; 
  line-height: 20px;
  

}
 .entreprise , .lieu {
  font-size:0.9em;
  font-weight: 400; 
  line-height: 20px;

}

/* la navbare */

.navbar{
  
    height: 4em;
    
  }


.navbar ul{
    margin:35px 5px 5px 5px;
    display:block;    
  }
  .menu-mobile{/* masquer la barre menu*/
      display: none;
    }
    .navbar ul li{ /* afficher les li en une seule ligne*/
      display:inline ;
      width: 10%;
      border-bottom: none;
      padding: 10px 5px;
      
    }
    #langue{
      float: left;
      margin:20px 5px 5px 5px;
         
    }
    #menu{
      float: right;
    }
    
    #langue li{
      display: inline-block; /* display inline */
      margin-right: 5px;
      width: 100px;
      
      }

    /* partie présentation texte + button*/
    #presentation1 {
    
    height: 40vh; /

  }
    
    #presentation1 p{

    float: right;
    margin-right:5px;
    width: 50%;
    font-size: 1em;


    text-indent:20px;
    text-align: justify;
    
    
  }

  #presentation1 h3{
    text-align: center;
    margin-left: 50px;
    font-size: 1.5em;

    }
    #buttoncv{
    
    width: 15%;
    padding: 10px;
    margin:0 0 0 80%;
    font-size: 1em;
     
   }
   /* la petite présentation*/
   #presentation h2{
    font-size: 3em;
   }
   #presentation h4{
    font-size: 1.2em;

   }

/* partie compétence*/
#competence{
    
    height: 100vh;   
    margin-top: 1vh;

  }
#competence article { 
  float: left;
  display:table-cell;

  height: 50%;
  width: 31%;
  margin: 0px 10px 0px 5px;

  
}
#competence span{  /*je l'ai ajouté pour les titre de competences */
  margin-left: 35%;
  display: inline-block;
  margin-bottom: 1% ;
  color: black; 
  font-size: 1.5em;
}
#competence ul{
  border : 1px solid lightgrey;
    background-color: lightgrey;
    margin:0px;
    width: 100%;
    height: 75%;
    box-shadow: 5px 5px 10px white;
    /*overflow: scroll;*/

    

   }
   #competence li{
    margin: 0px 0px 2em 10px;

    
   }
   #competence h4{
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;

   }
  /* conteneur de la progress bar*/
   .container{
    background-color: white;
    width: 100%;
    height: 20px;
   }
   .skills{
    height: 20px;
    /*background-color:#C71585;*/
   }
   
   /* portfolio*/
   #portfolio ul{
    width: 100%;
    height:auto;
    background-color: rgba(117,79,91,0.5);
    margin-bottom: 20px;


  }
  img.miniature{
  width: 112px;
}
  #realsize{ /* image grand format*/
  width: 40%;
  height: 45%;
  border: 10px solid rgba(117,79,91,0.5);
}
  p#legend {
  font-size:2em;
            }
   
  
 /* le formulaire de contact*/
 #contact{
  margin-top: 1vh;
 } 
 #formulaire  {
  
   margin: 0 auto;
   width: 70%;
   height: 90%;
   
   padding: 10px 10px 5px 20px;


  }
  #formulaire input[type=text]{
    margin-bottom: 10px;
    text-align: left;
    margin: 5px 30%;  
    height:35px;
    width: 40%;
  }

  #textarea{
    width: 40%;
    height:350px;
    margin: 5px 30%;
  }
  #formulaire label {
    display: inline-block;
    width: 10%;
    height:25px;
    font-weight: bold;
    font-size: 1.2em;
  }
  #formulaire p:nth-child(5n) label{
    position:relative;
    top: 45px;

  }
  #formulaire p:last-child {
    margin-left: 50%;

  }
  #formulaire p:last-child input[type=reset]{
    margin-right: 10px;
  }
  h3{
     text-align: center;
    font-size: 3em;
    margin: 20px 0 20px 0;
    font-style: italic;

   

  }

}


@media screen and (max-width: 767px) {
  header{
       background:linear-gradient(to top, beige 40%, transparent 60%), url(images/img/me3.jpg);
  }

  #presentation {
    text-align: center;
    width: 40%;
    height: 100%;
    position: relative;
    top: 500px;
    left: 35% ;
    
  }
  #presentation1 {
    
    position: relative;
    top: 200px;

  }
  #presentation1 p{

    float: none;
    margin:10px;
    width: 95%;
    height :10em;

  }
  #buttoncv{
    font-weight: bold;
    width: 40%;
    margin-left:30%;
    font-size: 0.9em;
    border-radius: 30px 30px 30px 30px;
    appearance : button;
   }
  
}
 